# Bitcoin configuration
BTC_NETWORK=mutinynet
BTC_RPC_USER=test
BTC_RPC_PASSWORD=test
BTC_RPC_HOST=host.docker.internal
BTC_RPC_PORT=38332

# BitVMX configuration
BITVMX_VERSION=1
SECRET_NONCE=1234567890abcdef1234567890abcdef
PUBLIC_KEY_HEX=0279be667ef9dcbbac55a06295ce870b07029bfcdb2dce28d959f2815b16f81798

# Execution files
INSTRUCTION_MAPPING_FILE=execution_files/instruction_mapping.txt
INSTRUCTION_COMMITMENT_FILE=execution_files/instruction_commitment_input.txt
ELF_FILE=execution_files/hello-world.elf